*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: #ffe01b
}

.links{
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-weight:600;
}

.hder-tx{
    font-size: 30px;
    font-weight: 400;
}
.container{
    display: flex;
    gap: 10px;
}

.log-sct{
    height: 100%;
    width: 100px;
    margin: 10px;
    padding: 20px;
    background-color: #ffe01b;
    border: 1px solid #111111;
    
}

.sign-sct{
    height: 100%;
    width: 100px;
    margin: 10px;
    padding: 20px;
    background-color: #007c89;
    
    color: #ddd;
}

.init-page{
    display: block;
    padding: 150px;
    height: 100%;
    width: 100%;
    background-color: #ffe01b;
}

.txt-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#main{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.03125rem;
}

.main-txt{
    width: 60%;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0;
}

.footer{
    display: flex;
    gap: 90px;
    padding: 50px;
    border-top:1px solid #111111;
    height: 100px;
    background-color: #ddd;
}

 a{
text-decoration: none;
color: #007c89;
font-weight: 300;
}

h2{
    font-size: 20px;
}