#header{
 text-align: center;
 font-size: 400%;
 color: #FFFFFF;
}


body{
    background-color: #111111;
    font-family: -apple-system,  'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}
#h2{
    padding-left: 40px;
    text-align: center;
    font-weight: lighter;
    font-size: 33px;
}
#name{
    margin-top: 8px;
    max-height:30px;
    border-radius: 10px;

}

#email{
    margin-top: 8px;
    max-height:30px;
    border-radius: 10px;
}

#places{
    border-radius: 10px;
    padding:7px;
    margin-right: 70%; 
    
}

#number{
    border-radius: 10px;
    padding:7px;
    margin-right: 85%;
}

#comment{
    padding-bottom: 80px;
    border-radius: 10px;
   
    
}

#submit{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}
      
    
   
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 270px;
    border: 1px solid #9CAFB7;
    border-radius: 90px;
    text-align: start;
    background-color:#DDDDDD;
    ;
    max-width: 60%;
}

.input{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    gap:15px;
    
}
.email{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    gap:15px;
    
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.select{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.numbers{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    
}

.lists{
    padding-left: 50px;
    padding-top: 30px;
    
}

.lists ul{
    list-style-type: none;
}
footer{
    
}
a{
    text-decoration: none;
    color: azure;
}