@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    
}
body{
    background-color: #ddd;
}
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    
}
.header{
    background: #0ea5e9;
    opacity: 0.9;
    width: 1fr;
    color: white;
    grid-row: 1/3;
    
   
}
.options-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: 50px;
}
.user-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    
    
}
.account-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

li{
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
}

li > img{
    width: 13.5%;
    cursor: pointer;
}

.header-title{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
}




.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 170vh;
    height: 20vh;
    background-color: #ffffff;
}
.item-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.searchbar{
    display: flex;
    gap: 10px;
    position: relative;
    top: 40px;
    right: 40px;

}
.profile{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
    right: 50px;
}
.searchbar > img{
    width: 4.5%;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 5px;
    background: #ddd;
    border: none;
    border-radius: 5px;
}
.session{
 display: flex;
 justify-content: flex-end;
 position: relative;
 gap: 15px;
 top: 30px;
 left: 10px;
}
.session-container{
    width: 1fr;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    
}
.session > img{

    width: 4.5%;
    cursor: pointer;
}

.profile > img{
    width: 16.5%;
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 70px;
    position: relative;
    left: 20px;
    bottom: 40px;
    
}

.btn{
    background-color: #0ea5e9;
    width: 100px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.titles-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}
.projects{
    padding-bottom: 10px;
}
.announcements{
    position: relative;
    left: 260px;
}
.trending{
    position: relative;
    top: 290px;
    right: 200px;
}
.dashboard-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:15px;
    padding-left: 20px;
    height: 100vh;
}

.project{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height:200px;
    width: 350px;
    background-color: #ffffff;
    border-left: 10px solid #facc15;
    border-radius:10px ;
    padding-left:20px;
    font-weight: lighter;
}
h3{
    padding-bottom: 15px;
}
.actions{
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: relative;
    top: 50px;
    left: 160px;
    bottom: 30px;
}
.actions > img{
    width: 9%;
}

.titles-container{
    padding-top:20px ;
}
.additional-cards{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 112vh;
    bottom: 98vh;
    
}
.announcements-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    width: 350px;
    background-color: #ffffff;
    padding: 20px;
    font-weight: lighter;
    
}
em{
   text-decoration: underline; 
   text-underline-offset: 20px;
}
.trending-card{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 280px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: lighter;
}

.account-text-container{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40px;
    bottom: 23px;
    
    
}
.profiles > img{
    position: relative;
    top: 20px;
    width: 20%;
}